<a href="{{ admin.generateObjectUrl("mediaartist",object) }}" class="pdf_link" title="{% trans from 'SonataMediaBundle' %}action_pdf{% endtrans %}" target="_self">
 <img src="{{ asset('assets/img/pdf.png') }}" alt="{% trans from 'SonataMediaBundle' %}action_pdf{% endtrans %}" />
</a>