<a href="{{ admin.generateObjectUrl("pdfartist",object) }}" class="pdf_link" title="{% trans from 'SonataAdminBundle' %}action_pdf{% endtrans %}" target="_blank">
 <img src="{{ asset('assets/img/pdf.png') }}" alt="{% trans from 'SonataAdminBundle' %}action_pdf{% endtrans %}" />
</a>